nav.navbar{
	background-color: white;
}

.title-container{
	position: relative;
}
h1.main-title{
	position: fixed;
	top: 50%;
	left: 35%;
}

.masthead{
	height: 100vh;
	min-height: 500px;
	/*background-image: url('https://cdainterview.com/resources/cda-interview-guide.jpg');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.contact-head{
	height: 100vh;
	min-height: 500px;
	/*background-image: url('https://cdainterview.com/resources/contact-us.png');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

footer{
	background-color: #000066;
}

.social-container a{
	padding: 5px;
}